<header class="hero-box" id="hero-box">


<div class="hero-description">
  <h2 class="hero-my-name">Carole Pillette</h2>
  <h1 class="hero-description-title">Developer</h1>
  <h1 class="hero-description-title">Engineer</h1>
  <h1 class="hero-description-title">Artist</h1>

  <div class="line-break"></div>

  <div class="hero-description-icons">
    <a href="https://twitter.com/bonnepioche"><%= image_tag("twitter-red.svg", :alt => "twitter", :class => "icon-hero") %></a>
    <a href="https://www.instagram.com/carolecodes/"><%= image_tag("instagram-svg-red.svg", :alt => "instagram", :class => "icon-hero") %></a>
    <a href="https://www.linkedin.com/in/carole-pillette-10629a115/"></a><%= image_tag("linkedin-svg-red.svg", :alt => "linkedin", :class => "icon-hero") %></a>
    <a href="https://github.com/cjpillette"><%= image_tag("Github-red.svg", :alt => "github", :class => "icon-hero") %></a>
    <a href="http://www.carolecodes.blogspot.com.au"><%= image_tag("Blogspot-red.svg", :alt => "blogspot", :class => "icon-hero") %></a>
  </div>

  </div>

  <div class="developer-drawing"></div>
  <div class="engineer-drawing"></div>
  <div class="artist-drawing"></div>

  <div class="arrow-down"></div>
</header>
