<header class="bird-box">
  <div class="fore-bird"></div>

<div class="hero-description">
  <h1 class="hero-description-title">Artist</h1>
  <h1 class="hero-description-title">Engineer</h1>
  <h1 class="hero-description-title">Developer</h1>

  <div class="line-break"></div>

  <div class="hero-description-icons">
    <%= image_tag("Twitter.svg", :alt => "twitter", :class => "icon  icon-hero") %>
    <%= image_tag("Instagram.svg", :alt => "instagram", :class => "icon  icon-hero") %>
    <%= image_tag("LinkedIn.svg", :alt => "linkedin", :class => "icon  icon-hero") %>
    <%= image_tag("Github.svg", :alt => "github", :class => "icon  icon-hero") %>
    <%= image_tag("Blog.svg", :alt => "blogspot", :class => "icon  icon-hero") %>
  </div>

  </div>

  <div class="back-bird"></div>
</header>
