<div class="navigation">
  <%= link_to image_tag("arrow-back.svg", :alt => "back", :class => "nav-icon icon-left"), "#{root_path}#my-portfolio" %>
  <%= link_to image_tag("Home.svg", :alt => "home", :class => "nav-icon icon-left"), root_path %>
  <%= link_to image_tag("envelope.svg", :alt => "contact me", :class => "nav-icon icon-right"), "#{root_path}#contact-me" %>
  <%= link_to image_tag("FoutainPen.svg", :alt => "designs", :class => "nav-icon icon-right"), "#{root_path}#my-art" %>
  <%= link_to image_tag("Cartable.svg", :alt => "portfolio", :class => "nav-icon icon-right"), "#{root_path}#my-portfolio" %>
  <%= link_to image_tag("About.svg", :alt => "about me", :class => "nav-icon icon-right"), "#{root_path}#about-me" %>
</div>
