<div class="navigation" id="navigation">
  <a href="#hero-box">
    <%= image_tag("cpHome.svg", :alt => "home", :class => "nav-icon icon-left") %>
  </a>
  <a href="#contact-me">
    <%= image_tag("envelope.svg", :alt => "contact me", :class => "nav-icon icon-right") %>
  </a>
  <a href="#my-art">
    <%= image_tag("FoutainPen.svg", :alt => "designs", :class => "nav-icon icon-right") %>
  </a>
  <a href="#my-portfolio">
    <%= image_tag("Cartable.svg", :alt => "portfolio", :class => "nav-icon icon-right") %>
  </a>
  <a href="#about-me">
    <%= image_tag("About.svg", :alt => "about me", :class => "nav-icon icon-right") %>
  </a>
</div>
