<div class="portfolio-container">
  <h1 class="section-title">Portfolio</h1>

  <div class="project-row">
    <div class="node-icon"></div>
    <div class="coding-project">
      <h3>Travel site</h3>
      <hr>
      <h4><%= link_to "Project history", pages_travel_project_path %> / <a href="https://cjpillette.github.io/travel-site/" class="red">Visit site</a></h4>
    </div>
  </div>

  <div class="project-row">
    <div class="node-icon"></div>
    <div class="coding-project">
      <h3>CFA Woman scholarship</h3>
      <hr>
      <h4><%= link_to "Project history", pages_cfa_scholarship_project_path %> / <a href="https://cjpillette.github.io/CFApplication2/" class="red">Visit site</a></h4>
    </div>
  </div>

  <div class="project-row">
    <div class="node-icon"></div>
    <div class="coding-project">
      <h3>Chat room</h3>
      <hr>
      <h4><%= link_to "Project history", pages_chat_room_project_path %> / <a href="https://dry-basin-71739.herokuapp.com/" class="red">Visit site</a></h4>
    </div>
  </div>

  <div class="project-row">
    <div class="node-icon"></div>
    <div class="coding-project">
      <h3>Quarantine Track</h3>
      <hr>
      <h4><%= link_to "Project history", pages_quarantine_project_path %> / <a href="https://ancient-headland-44606.herokuapp.com/" class="red">Visit site</a></h4>
    </div>
  </div>

  <div class="project-row">
    <div class="ruby-icon"></div>
    <div class="coding-project">
      <h3>Track your health</h3>
      <hr>
      <h4><%= link_to "Project history", pages_pure_ruby_project_path %> / <%= link_to "Project history", pages_ruby_cli_display_path %>See CLI</a></h4>
    </div>
  </div>

</div>
