  <div class=section>
    <%= render 'shared/navigation'%>
    <%= render 'shared/hero'%>
    <%= render 'shared/about'%>
    <%= render 'shared/portfolio'%>
    <%= render 'shared/contact'%>
  </div>
